/*  table  layout  template  */
body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 0;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #1b757c;
  color: white;
}

.header-menu {
  height: 60px;
}

.header-menu-list {
  list-style: none;
  text-align: center;
  line-height: 60px;
}

.header-menu-list li {
  margin: 10px;
  display: inline;
}

.table-wrap {
  overflow-x: auto;
}
.c-table {
  border-collapse: collapse;
  border: solid 3px #1b757c;
}
.c-table th,
.c-table td {
  padding: 8px 10px;
  white-space: nowrap;
}
.c-table th {
  border: solid 1px #1b757c;
  background-color: #90d0e0;
}
.c-table td {
  border: dashed 1px #1b757c;
  text-align: center;
}

/* フッター */
footer {
  background-color: #1b757c;
  color: whitesmoke;
}

.footer-menu {
  height: 60px;
}

.footer-menu-list {
  list-style: none;
  text-align: center;
  line-height: 60px;
}

.footer-menu-list li {
  margin: 10px;
  display: inline;
}

.copyright {
  text-align: center;
}
